/* #134074 Midnight Blue

 #084887
#Dark Cerulean
 Cyprus
#8DA9C4 Polo Blue

#F7F5FB White  

linear-gradient(40deg, #2762fe 0%, #2762fe 100%);
background-image: linear-gradient(40deg, #2762fe 0%, #2762fe 100%);
*/
/* Html,Body */

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Crimson Text", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #f4f4f4;
    overflow: hidden;
}


/* =========================================
                Preloader
============================================ */

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}


/* 
                Home
*/

#home {
    background: none;
    height: 100%;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../video/solo.jpg") no-repeat;
    background-size: cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    font-family:monospace;
}

#home-heading h2 span {
    color: #f4c613;
    font-weight: 900;
}

#home-text p {
    color: #F7F5FB;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
    font-family: "Raleway"
}
#home-heading h2 {
    font-size: 50px;
    color: #fff;
    right: 10px;
    left: 10px;
    font-weight: 900;
}
#home-text p span  {
    color: #f4f4f4;
}
/* Buttons */
.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 100px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all.5s;
    transition: all .5s;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;

}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: #f4c613;
    border: : 1px solid #f4c613;
}

.btn-yellow {
    color: #fff;
    border: 1px solid #f4c613;
    background-color: #f4c613;
}

.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: #212226;
    border: : 1px solid #212226;
}
.btn-white {
    color: #212226;
    border: 1px solid #fff;
 background-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    color: #fff;
    background-color: #212226;
    border: : 1px solid #212226;
}








.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right:20px;
    padding: 3px 15px;
    border-radius: 4px;
    font-size: 22px;
}

/* Arrow Down */
#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {

    color: #f4c613;
}



/*  Content Box */

content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 90px 0;
}
/* Vertical Heading */


.vertical-heading h5 {
    color: #f4c613;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position:relative;
    top: 180px;
    left: -53px;
    font-family: "Raleway", sans-serif;
}


.vertical-heading h2 {
    margin: 0 0 0 35px;
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
    font-family: "Open Sans", sans-serif;
    animation-delay: 5s;
}

.horizontal-heading {
    margin-bottom: 80px;
    
}
.horizontal-heading h5 {
    font-size: 16px;
    color: #f4c613;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h2 {
    font-size: 50px;
    font-weight: 100;
    line-height: 45px;
    margin: 0;
   color:gray;
    font-family: "Raleway", sans-serif;
}

/* Services 2 Responsive Tabs */

#services-02 {
    background: #f4f4f4;
}
#services-tabs ul {
    margin-bottom: 40px;
}
#services-tabs ul li {
    padding: 5px 30px;
}
#services-tabs ul li a {
    font-family: "Raleway",sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}
/* Tab Active State */
#services-tabs ul li.r-tabs-state-active a {
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid #f4c613;
    padding-bottom: 5px;
    -webkit-transition: border-color 300ms linear;   
    transition: border-color 300ms linear
}



.service-tabs .col-md-6 {
    padding: 0;
}





.service-tabs img {
    width: 110%;
    margin: 0 auto;
    min-height: 618px;
    
}
.service-tabs .tab-bg {
    background: #fff;
    padding: 59px 30px;
    min-height: 618px;
}

.service-tabs-h2 {
    font-size: 48px;
    color: #bbb;
    margin-bottom: 20px;
    font-weight: 100;
}
.service-tabs h3 {
    font-size: 32px;
    margin-bottom: 30px
}
.service-tabs p {
    line-height: 24px;
    margin-bottom: 30px;
    
    
}
/* =========================================
                Portfolio
============================================ */

#portfolio {
    padding: 0px;
    background-blend-mode: color;
}

.overlay {
    background-color: #f4f4f4;
        background-image: linear-gradient(180deg, #f4f4f4 40%, #2762fe 90%);

}
.overlay-2 {
    background-color: transparent;
        background-image: linear-gradient(360deg, #f4f4f4 40%, #2762fe 90%);
}
.overlay-2 h1 {
    color: #f4f4f4;
}

#portfolio .vertical-heading {
    margin-bottom: 50px;
}

.row.no-gutters [class*=col-] {
    padding: 0;
}

.portfolio-item {
    overflow: hidden;
    position: relative;
}


/* Filters CSS */

#isotope-filters {
    margin-bottom: 10px;
    padding: 20px 25px 20px 0;
}

#isotope-filters button {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 35px;
    outline: 0;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
    -webkit-transition: border-color .4s ease-in-out;
    transition: border-color .4s ease-in-out;
}

#isotope-filters button.active span {
    color: firebrick;
    border-bottom: 3px solid blue		;
}


/* Zoom Effect */

.portfolio-item img {
    height: auto;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    margin: 0 auto;
    min-height: 400px;
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Overlay Effect */

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 14, 17, 0.9);
    cursor: -webkit-zoom-in;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* Item Details Effect */

.portfolio-item-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-item-details h3 {
    color: #f4c613;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.portfolio-item-details span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px auto;
}

.portfolio-item-details p {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


/* Show Overlay on mouse over */

.portfolio-item:hover .portfolio-item-details h3 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}

/* =========================================
                Pricing
============================================ */

.pricing-table {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 32px 21px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.pricing-table:hover {
    background: #f4c613;
}

.pricing-table .type h4 {
    color: #f4c613;
    font-size: 24px;
    margin-bottom: 25px;
}

.pricing-table .price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 0;
}

.pricing-table .price h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin: 0 0 0 24px;
    position: relative;
}

.pricing-table .price h2 span {
    font-family: "Raleway", sans-serif;
}

.pricing-table .price h2 span.dollar {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: -20px;
    top: 5px;
}

.pricing-table .price h2 span.month {
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 5px;
    bottom: -12px;
}

.pricing-table .price p {
    line-height: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.pricing-table ul.package {
    list-style: none;
    padding: 20px 0;
}

.pricing-table ul.package li {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
}

.pricing-table ul.package li i {
    width: 24px;
}

.pricing-table .btn-yellow,
.pricing-table.black .btn-white,
.pricing-table-rainbow {

    width: 96%;
}

.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.package {
    color: #fff;
}

.pricing-table:hover .btn-yellow {
    background: #fff;
    color: #212226;
    border: 1px solid #fff;
}

.pricing-table .btn-yellow:hover,
.pricing-table .btn-yellow:focus {
    background: #212226;
    color: #fff;
    border: 1px solid #212226;
}


/* Black Pricing Table */

.pricing-table.black {
    background: #212226;
    color: #fff;
}

.pricing-table.black .type h4 {
    color: #fff;
}

.pricing-table.black:hover {
    background: #f4c613;
}
/* Rainbow Pricing Table */
.pricing-table.rainbow {
      
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 32px 21px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
        
}
.pricing-table.rainbow .type h4 {
  color: #f4c613;}
  
#pricing {
    background-color: #f4f4f4;
}
/* =========================================
                Footer
============================================ */

footer {
    background: #212226;
    padding: 30px;
}

footer p {
    color: #fff;
    line-height: 20px;
    margin: 0;
}

footer p span {
    color: #f4c613;
}

/* =========================================
                Navigation
============================================ */

.navbar {
    padding: 35px 0 20px 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.site-nav-wrapper {
    padding: 0 85px;
}

.navbar-brand {
    padding: 13px 15px;
}

ul.navbar-nav>li>a {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:focus {
    background: none;
    color: #f4c613;
}


/* White Navigation */

.white-nav-top {
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top ul.navbar-nav>li>a {
    color: #212226;
}

.white-nav-top ul.navbar-nav>li>a:hover,
.white-nav-top ul.navbar-nav>li>a:focus {
    color: #f4c613;
}


/* Scroll spy active state */

.white-nav-top ul.navbar-nav>li.active>a {
    color: #f4c613;
    font-weight: 500;
}
